.logged-out {
	display: block; 
	opacity: 1; 
	transition: opacity .5s ease-in; 
}

.login-fadeout {

	display: block; 
	opacity: 0; 

} 

#fp-mediacapture {
	display: none;
}

.fp-no-posts {
	display: block; 
}